footer {
    background-color: $coulour-background__footer;
    color: $colour_text-white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 25px;

    a {
        display: block;
        margin-left: 5%;
        padding: 0;
        line-height: 2;
        text-decoration: none;
        color: $colour_text-white;
    }

    i {
        width: 30px;
    }
}

.logo-footer {
    height: 20px;
    filter: invert(100%);
    margin-left: 5%;

}

.menu-footer{
    padding : 20px 0 50px 0;
}