/*----------------------logo + retour------------------------------*/
.header {
    height: 275px;
    }

.head{
    &__h1 {
        display: flex;
        justify-content:center;
        align-items:center;
        margin-bottom: 15px;
        height:40px;
        &__retour {
            width:40%;
            color: black;
        }
        &__logo {
            width:auto;
            height:40px;
        }
        &__empty{
            width:40%;
            margin:0;
        }
    }
}


.head-prev {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__image_1 {
        background-image: url('./../../public/img/restaurants/palette_gout.jpg');
    }

    &__image_2 {
        background-image: url('./../../public/img/restaurants/note_enchantee.jpg');
    }

    &__image_3 {
        background-image: url('./../../public/img/restaurants/francaise.jpg');
    }

    &__image_4 {
        background-image: url('./../../public/img/restaurants/delice_sens.jpg');
    }
}

.conteneur_menus {
    background-color: $coulour-background__secondary;
    border-radius:35px 35px 0px 0px;
    padding-bottom:80px;
}

.title-h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 94%;

    div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i {
        font-size: 25px;
        cursor: pointer;

        &:last-child {
            position: absolute;
        }
    }

    i:first-child {
        color: black;
    }

    i:last-child {
        opacity: 0;
        background: radial-gradient(circle at center, $colour_primary 5%,$colour_secondary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 500ms ease-out, transform 500ms ease-out;

        &:hover {
            opacity: 1;
            transform: scale(1.12);
        }
    }
}




