/*------------------------LOGO------------------------------------------*/

.logo-head {
    height: 40px;
}
h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

/*---------------------------NAV--------------------------------------------*/
.head {
    background-color: $coulour-background__primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}
.local {
    height: 50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $coulour-background__secondary;
    border-top: 2px solid $coulour-border;
    font-weight:bold;
    &__icone {
        width: 25px;
    }
}

.title {
    width: 70%;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        width: 70%;
        margin-bottom: 0px;
        font-weight:bold;
    }
    p {
        width: 90%;
    }
}


/*-------------------------------*/