/*--------------------Couleur des textes-------------------------*/
/*--------------------Couleur des background-------------------------*/
/*--------------------Couleur des boutons-------------------------*/
/*---------------------map breakpoint-----------------------*/
body {
  width: 980px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 980px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  /*
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;*/
}

.shrikhand {
  font-family: "Shrikhand", sans-serif;
}

.bold {
  font-weight: bold;
}

h4 {
  font-weight: 900;
}

textarea {
  font-family: "Roboto", sans-serif;
  /*
  font-weight: 100;
  font-size: 2rem;*/
}

button {
  font-family: "Roboto", sans-serif;
  /*
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;*/
}

.btn-head {
  background-color: #9356DC;
  background-image: linear-gradient(#FF79DA, 28px, rgba(147, 86, 220, 0));
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 8px 10px #c4c4c4;
  transition: background-color 500ms, box-shadow 300ms;
}
.btn-head__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}
.btn-head:hover {
  background-color: #FF79DA;
  box-shadow: 0px 12px 8px #cbcbcb;
}

.btn-fon {
  height: 70px;
  width: 32%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 980px) {
  .btn-fon {
    width: 96%;
  }
}
.btn-fon__bulle {
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 15px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.btn-fon__btn {
  width: 95%;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 500ms;
}
.btn-fon__btn:hover {
  background-color: #f2eafb;
}
.btn-fon i {
  margin-left: 40px;
}
.btn-fon p {
  margin-left: 20px;
}

.btn-new {
  width: 80px;
  height: 30px;
  font-weight: bold;
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 3px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------LOGO------------------------------------------*/
.logo-head {
  height: 40px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

/*---------------------------NAV--------------------------------------------*/
.head {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.local {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(#cfcfcf, 5px, #eaeaea);
}
.local__icone {
  width: 25px;
}

.title {
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h2 {
  width: 70%;
  margin-bottom: 0px;
  font-weight: bold;
}
.title p {
  width: 90%;
}

/*-------------------------------*/
/*----------------------logo + retour------------------------------*/
.header {
  height: 275px;
}

.head__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  height: 40px;
}
.head__h1__retour {
  width: 40%;
  color: black;
}
.head__h1__logo {
  width: auto;
  height: 40px;
}
.head__h1__empty {
  width: 40%;
  margin: 0;
}

.head-prev {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.head-prev__image_1 {
  background-image: url("./../../public/img/restaurants/palette_gout.jpg");
}
.head-prev__image_2 {
  background-image: url("./../../public/img/restaurants/note_enchantee.jpg");
}
.head-prev__image_3 {
  background-image: url("./../../public/img/restaurants/francaise.jpg");
}
.head-prev__image_4 {
  background-image: url("./../../public/img/restaurants/delice_sens.jpg");
}

.conteneur_menus {
  background-color: #eaeaea;
  border-radius: 35px 35px 0px 0px;
  padding-bottom: 80px;
}

.title-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 94%;
}
.title-h2 div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-h2 i {
  height: 25px;
  cursor: pointer;
}
.title-h2 i:last-child {
  position: absolute;
}
.title-h2 i:first-child {
  color: black;
  transition: color 1000ms;
}
.title-h2 i:first-child:hover {
  color: #9356DC;
}
.title-h2 i:last-child {
  position: absolute;
  opacity: 0;
  color: #9356DC;
  transition: opacity 500ms ease-out;
}
.title-h2 i:last-child:hover {
  opacity: 1;
  color: #9356DC;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 25px;
}
footer a {
  display: block;
  margin-left: 5%;
  padding: 0;
  line-height: 2;
  text-decoration: none;
  color: #FFFFFF;
}
footer i {
  width: 30px;
}

.logo-footer {
  height: 20px;
  filter: invert(100%);
  margin-left: 5%;
}

.menu-footer {
  padding: 20px 0 50px 0;
}

/*------------------------Section Fonctionnement-----------------------------------------*/
section h3 {
  width: 94.5%;
  margin: 2% 2% 2% 3.5%;
}

.fonctionnement {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
@media screen and (max-width: 980px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
  }
}

#restaurants-prev {
  background-color: #f6f6f6;
  padding: 25px 0px 60px 0px;
}

/*----------------------Section Restaurants 4---------------------------------------------*/
.lien {
  display: block;
  width: 100%;
  height: 250px;
  text-decoration: none;
  color: #000000;
}

.menu-4 {
  width: 94.5%;
  height: 1050px;
  margin: 2% 2% 2% 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-4__prev {
  height: 100%;
}
.menu-4__prev__img {
  height: 175px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
.menu-4__prev__img--1 {
  background-image: url("./../../public/img/restaurants/palette_gout.jpg");
}
.menu-4__prev__img--2 {
  background-image: url("./../../public/img/restaurants/note_enchantee.jpg");
}
.menu-4__prev__img--3 {
  background-image: url("./../../public/img/restaurants/francaise.jpg");
}
.menu-4__prev__img--4 {
  background-image: url("./../../public/img/restaurants/delice_sens.jpg");
}
.menu-4__prev__legende {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
}
.menu-4__prev__legende__txt {
  width: 48%;
  margin-left: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-4__prev__legende__txt h4, .menu-4__prev__legende__txt p {
  margin: 2% 0% 2% 0%;
}
.menu-4__prev__legende__icone {
  width: 48%;
  height: 100%;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-4__prev__legende__icone i:first-child {
  color: black;
  transition: color 1000ms;
}
.menu-4__prev__legende__icone i:first-child:hover {
  color: #9356DC;
}
.menu-4__prev__legende__icone i:last-child {
  position: absolute;
  opacity: 0;
  color: #9356DC;
  transition: opacity 500ms ease-out;
}
.menu-4__prev__legende__icone i:last-child:hover {
  opacity: 1;
  color: #9356DC;
}

.plat-prev {
  height: 70px;
  width: 96%;
  margin: 0 2% 15px 2%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.plat-prev:hover > .plat-prev__check {
  animation: check 500ms forwards;
}
.plat-prev:hover > .plat-prev__check i {
  animation: rotate 400ms forwards 200ms;
}
.plat-prev:not(:hover) > .plat-prev__check {
  animation: check2 500ms backwards;
}
.plat-prev__menu {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
.plat-prev__menu h4, .plat-prev__menu p {
  margin: 5px 0px 5px 0px;
  width: 75%;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plat-prev__menu p:last-child {
  margin: 0px;
  width: 25%;
  height: 100%;
}
.plat-prev__prix {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.plat-prev__check {
  width: 150px;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -150px;
}
.plat-prev__check i {
  color: white;
}

@keyframes check {
  0% {
    margin-right: -150px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check2 {
  0% {
    margin-right: 0px;
  }
  100% {
    margin-right: -150px;
  }
}
section .plat-prev:last-child {
  margin-bottom: 50px;
}

.plat__h4 {
  margin: 0 0 0 21px;
}

.underline {
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 41px;
  margin: 0 0 3% 20px;
}

/*-----------------------------SPINNER---------------------------------------------*/
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: delete 5000ms forwards;
}
.container__spinner {
  width: 350px;
  height: 245px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.load__bar {
  background-color: #9356DC;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  animation: bars 1000ms backwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.load__bar--1 {
  animation-delay: 333.3333333333ms;
}
.load__bar--2 {
  animation-delay: 666.6666666667ms;
}
.load__bar--3 {
  animation-delay: 1000ms;
}

@keyframes bars {
  0% {
    transform: translate(0px, 50px);
    background-color: #9356DC;
  }
  100% {
    transform: translate(0px, -50px);
    background-color: #FF79DA;
  }
}
@keyframes delete {
  0% {
    opacity: 1;
    z-index: 100;
    height: 100%;
  }
  90% {
    opacity: 1;
    z-index: 100;
  }
  95% {
    opacity: 0;
    z-index: 100;
    height: 100%;
  }
  100% {
    opacity: 0;
    z-index: -100;
    height: 0;
  }
}
/*--------------------------------animations menu---------------------------------------------*/
section .plat-prev {
  margin-top: 100px;
  opacity: 0;
  box-shadow: 0px 8px 10px #c4c4c4;
}
section .plat-prev:nth-child(1) {
  animation: move-top 500ms ease-out both;
  animation-delay: 4500ms;
}
section .plat-prev:nth-child(2) {
  animation: move-top 500ms ease-out both;
  animation-delay: 4600ms;
}
section .plat-prev:nth-child(3) {
  animation: move-top 500ms ease-out both;
  animation-delay: 4700ms;
}
section .plat-prev:nth-child(4) {
  animation: move-top 500ms ease-out both;
  animation-delay: 4800ms;
}

@keyframes move-top {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
/*-------------------------------------Animation check sur menu-------------------------------*/

/*# sourceMappingURL=style.css.map */
