body {
    width:980px;
    padding: 0 ;
    margin: 0;
    margin-left:auto;
    margin-right:auto;

    @include tablette {
        width:100%;
    }
    @include mobile-only {
        width:100%;
    }
}
