/*------------------------Section Fonctionnement-----------------------------------------*/
section h3 {
    width: 94.5%;
    margin: 2% 2% 2% 3.5%;
}

.fonctionnement {
    display: flex;
    flex-direction: row;
    margin-bottom:50px;

    @include mobile-only {
        display: flex;
        flex-direction: column;
    }
}

#restaurants-prev {
    background-color: $coulour-background__primary;
    padding: 25px 0px 60px 0px;
}

/*----------------------Section Restaurants 4---------------------------------------------*/
.lien {
    display:block;
    width: 100%;
    height: 250px;
    text-decoration:none;
    color:#000000;
}

.menu-4 {
    width: 94.5%;
    height: 1050px;
    margin: 2% 2% 2% 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__prev {
        height: 100%;

        &__img {
            height: 175px;
            border-radius: 15px 15px 0 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-end;

            &--1 {
                background-image: url('./../../public/img/restaurants/palette_gout.jpg');
            }

            &--2 {
                background-image: url('./../../public/img/restaurants/note_enchantee.jpg');
            }

            &--3 {
                background-image: url('./../../public/img/restaurants/francaise.jpg');
            }

            &--4 {
                background-image: url('./../../public/img/restaurants/delice_sens.jpg');
            }
        }


        &__legende {
            height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            background-color: $colour_text-white;
            border-radius: 0 0 15px 15px;

            &__txt {
                width: 48%;
                margin-left: 2%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4, p {
                    margin: 2% 0% 2% 0%;
                }
            }

            &__icone {
                width: 48%;
                height: 100%;
                margin-right: 2%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                i {
                    font-size: 25px;
                    cursor: pointer;

                    &:last-child {
                        position: absolute;
                    }
                }

                i:first-child {
                    color: black;
                }

                i:last-child {
                    opacity: 0;
                    background: radial-gradient(circle at center, $colour_primary 5%,$colour_secondary 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: opacity 500ms ease-out, transform 300ms ease-out;

                    &:hover {
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/*-----------------------------SPINNER---------------------------------------------*/

$size: 35px;
$anim-dur: 800ms;
$num-bars: 3;
$cycle: 4;
$anim-delay: $anim-dur / $num-bars;
$time: $anim-dur*$cycle;


.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: delete $time forwards;

    &__spinner {
        width: $size*10;
        height: $size*7;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.load {
    &__bar {
        background-color: $colour_primary;
        height: $size;
        width: $size;
        border-radius: $size;
        animation: bars $anim-dur backwards;
        animation-iteration-count: $cycle;
        animation-direction: alternate;

        @for $i from 1 through $num-bars {
            &--#{$i} {
                @if ($i==1) {
                    animation-delay: 0ms;
                }
                @else {
                    animation-delay: $anim-delay * $i;
                }
            }
        }
    }
}

@keyframes bars {
    0% {
        transform: translate(0px,50px);
        background-color: $colour_primary;
    }

    100% {
        transform: translate(0px,-50px);
        background-color: $colour_secondary;
    }
}

@keyframes delete {
    0% {
        opacity: 1;
        z-index: 100;
        height: 100%;
    }

    90% {
        opacity: 1;
        z-index: 100;
    }

    95% {
        opacity: 0;
        z-index: 100;
        height: 100%;
    }

    100% {
        opacity: 0;
        z-index: -100;
        height: 0;
    }
}