.plat-prev {
    height: 70px;
    width: 96%;
    margin: 0 2% 15px 2%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    &__menu {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;

        h4, p {
            margin: 5px 0px 5px 0px;
            width: 75%;
            height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p:last-child {
            margin: 0px;
            width: 25%;
            height: 100%;
        }



        &:hover + .plat-prev__check {
            animation: check 500ms forwards;

            i {
                animation: rotate 400ms forwards 200ms;
            }
        }

        &:active + .plat-prev__check {
            margin-right: 0px;
        }

        &:not(:hover) + .plat-prev__check {
            animation: check2 500ms backwards;
        }
    }

    &__prix {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }



    &__check {
        width: 150px;
        height: 100%;
        background-color: $colour_tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -150px;

        i {
            color: white;
        }
    }
}

@keyframes check {
    0% {
        margin-right: -150px;
    }

    100% {
        margin-right: 0px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes check2 {
    0% {
        margin-right: 0px;
    }

    100% {
        margin-right: -150px;
    }
}



section .plat-prev:last-child{
    margin-bottom: 50px;
}

.plat {

    &__h4 {
        margin: 0 0 0 21px;
    }
}

.underline {
    display: block;
    background-color: $colour_tertiary;
    height: 3px;
    width: 41px;
    margin: 0 0 3% 20px;
}

/*-----------------------------SPINNER---------------------------------------------*/

$size: 35px;
$anim-dur: 1000ms;
$num-bars: 3;
$cycle: 5;
$anim-delay: $anim-dur / $num-bars;
$time: $anim-dur*$cycle;


.container {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: delete $time forwards;
    &__spinner {
        width: $size*10;
        height: $size*7;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.load {
    &__bar {
        background-color: $colour_primary;
        height: $size;
        width: $size;
        border-radius: $size;
        animation: bars $anim-dur backwards;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}

@keyframes bars {
    0% {
        transform: translate(0px,50px);
        background-color: $colour_primary;
    }

    100% {
        transform: translate(0px,-50px);
        background-color: $colour_secondary;
    }
}

@keyframes delete {
    0% {
        opacity: 1;
        z-index: 100;
        height: 100%;
    }

    90% {
        opacity: 1;
        z-index: 100;
    }

    95% {
        opacity: 0;
        z-index: 100;
        height: 100%;
    }

    100% {
        opacity: 0;
        z-index: -100;
        height: 0;
    }
}

/*--------------------------------animations menu---------------------------------------------*/
$delay_plat:100ms;
$depart: $time - 500;

section .plat-prev {
    margin-top: 100px;
    opacity: 0;
    box-shadow: 0px 8px 10px darken($coulour-background__secondary,15%);

    &:nth-child(1) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart;
    }

    &:nth-child(2) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart+$delay_plat*1;
    }

    &:nth-child(3) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart+$delay_plat*2;
    }

    &:nth-child(4) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart+$delay_plat*3;
    }
}


@keyframes move-top {
    0% {
        margin-top :100px;
        opacity:0;
    }

    100% {
        margin-top: 0px;
        opacity:1;
    }
}

/*-------------------------------------Animation check sur menu-------------------------------*/


