.plat-prev {
    height: 70px;
    width: 96%;
    margin: 0 2% 15px 2%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    &:hover > .plat-prev__check {
        margin:0; 
        transition: margin 500ms linear;

        i {
            transition: transform 400ms ease-in-out 200ms;
            transform : rotate(-360deg);
        }
    }

    &:not(:hover) > .plat-prev__check {
        transition: margin 500ms linear;
    }

    &__menu {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;

        h4, p {
            margin: 5px 0px 5px 0px;
            width: 75%;
            height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p:last-child {
            margin: 0px;
            width: 25%;
            height: 100%;
        }
    }

    &__prix {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }



    &__check {
        width: 150px;
        height: 100%;
        background-color: $colour_tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -150px;

        i {
            color: white;
        }
    }
}

section .plat-prev:last-child{
    margin-bottom: 50px;
}

.plat {

    &__h4 {
        margin: 0 0 0 21px;
    }
}

.underline {
    display: block;
    background-color: $colour_tertiary;
    height: 3px;
    width: 41px;
    margin: 0 0 3% 20px;
}

/*--------------------------------animations menu---------------------------------------------*/
$delay_plat:100ms;
$depart: 50ms;

section .plat-prev {
    margin-top: 100px;
    opacity: 0;
    box-shadow: 0px 8px 10px darken($coulour-background__secondary,15%);

    &:nth-child(1) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart;
    }

    &:nth-child(2) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart+$delay_plat*1;
    }

    &:nth-child(3) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart+$delay_plat*2;
    }

    &:nth-child(4) {
        animation: move-top 500ms ease-out both;
        animation-delay: $depart+$delay_plat*3;
    }
}


@keyframes move-top {
    0% {
        margin-top :100px;
        opacity:0;
    }

    100% {
        margin-top: 0px;
        opacity:1;
    }
}

/*-------------------------------------Animation check sur menu-------------------------------*/


