.plat-prev {
    height: 70px;
    width: 96%;
    margin: 0 2% 15px 2%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        margin: 5px 0px 5px 0px;
    }
    p{
        margin-top : 0;
        margin-bottom : 0;
    }

    &__menu {
        margin-left: 20px;
    }

    &__prix {
        margin-right: 20px;
    }
}
section .plat-prev:last-child{
    margin-bottom: 50px;
}

.plat {

    &__h4 {
        margin: 0 0 0 21px;
    }
}

.underline {
    display: block;
    background-color: $colour_tertiary;
    height: 3px;
    width: 41px;
    margin: 0 0 3% 20px;
}

